<div class="music-river">
	<div class="music-container" *ngFor="let musicLink of musicLinks">
		<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" [src]="musicLink.src | domSanitizer"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/bren-dan-1" title="Bren Dan 3" target="_blank" style="color: #cccccc; text-decoration: none;">Bren Dan 3</a> · <a href="{{musicLink.link}}" title="{{musicLink.title}}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ musicLink.title }}</a></div>
	</div>	
</div>
