.menu {
	font-family: 'Cinzel', serif;  
    color: white;
    font-size: 30px;    	
    list-style: none;
    margin-left: 40px;
    margin-top: 40px;
}

.menu-item {
	cursor: pointer;
	transform: scale(1);
	transform-origin: 0%;
	transition: transform .5s ease;
	margin-bottom: 30px;
}

.menu-item:hover {
	color: #99fdff;
}

.menu-item-selected {
	transform: scale(1.2);
	transform-origin: 0%;
	transition: transform .5s ease;
}

.my-name-selected {
	transform: scale(1.01);
	transform-origin: 0%;
}

#myName {
	font-size: 80px;

	@media only screen and (max-width: 1440px) {
		transform: scale(1);
		transition: transform 1s ease;
		font-size: 30px;	
	}
}